[submodule "vendor/qemu_8.2.0_ub"]
	path = vendor/qemu_8.2.0_ub
	url = ../qemu.git
	branch = ub_sim
	ignore = all
[submodule "guest-linux/kernel_ub"]
	path = guest-linux/kernel_ub
	url = ../kernel.git
	branch = ub_sim
	ignore = all
[submodule "vendor/simpler"]
	path = vendor/simpler
	url = https://github.com/hw-native-sys/simpler.git
	branch = main
	ignore = all
[submodule "vendor/pto-isa"]
	path = vendor/pto-isa
	url = https://github.com/hw-native-sys/pto-isa.git
	branch = main
	ignore = all
